<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Anti-Ambient</title>

  <link rel="stylesheet" href="css/styles.css">
</head>

<body class="page">
  <header class="page__header">
    <h1>Anti-Ambient</h1>
    <button class="stop-button">Stop All</button>
  </header>
  <main class="page__main">
    <article class="sound-grid__container">
      <section class="sound-grid__sound-box sound-box" data-sound="wind">
        <section class="sound-box__button">
          <header class="sound-box__header">
            <h3>
              Acid Rain
            </h3>
          </header>
          <section class="sound-box__icon">
            <svg class="sound-box__icon-svg" width="100%" height="100%" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
              style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;">
              <g class="rain-group">
                <g class="rain">
                  <path d="M25.729,86.454l12.133,-20.221" style="fill:none;stroke:#000000;stroke-width:4px;" />
                  <path d="M36.862,91.454l12.133,-20.221" style="fill:none;stroke:#000000;stroke-width:4px;" />
                  <path d="M53.995,86.454l12.132,-20.221" style="fill:none;stroke:#000000;stroke-width:4px;" />
                  <path
                    d="M76.216,70.277c11.166,0 20.221,-9.055 20.221,-20.221c0,-11.166 -9.055,-20.221 -20.221,-20.221c-2.208,0 -4.291,0.441 -6.277,1.096c-4.303,-10.151 -14.357,-17.273 -26.077,-17.273c-14.43,0 -26.316,10.806 -28.063,24.763c-7.093,1.715 -12.379,8.06 -12.379,15.679c0,8.934 7.243,16.177 16.177,16.177"
                    style="fill:none;stroke:#000000;stroke-width:4px;" />
                </g>
              </g>
            </svg>
          </section>
        </section>
        <section class="sound-box__volume">
          <input class="sound-box__volume-slider" type="range" min="0" max="1" value=".5" step=".1" data-sound="wind" data-volume=".5">
        </section>
      </section>

      <section class="sound-grid__sound-box sound-box" data-sound="ocean">
        <header class="sound-box__header">
          <h3>
            Fracking
          </h3>
        </header>
        <section class="sound-box__icon">
          <svg class="sound-box__icon-svg" width="100%" height="100%" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;">
            <g class="rain-group">
              <g class="rain">
                <path d="M25.729,86.454l12.133,-20.221" style="fill:none;stroke:#000000;stroke-width:4px;" />
                <path d="M36.862,91.454l12.133,-20.221" style="fill:none;stroke:#000000;stroke-width:4px;" />
                <path d="M53.995,86.454l12.132,-20.221" style="fill:none;stroke:#000000;stroke-width:4px;" />
                <path
                  d="M76.216,70.277c11.166,0 20.221,-9.055 20.221,-20.221c0,-11.166 -9.055,-20.221 -20.221,-20.221c-2.208,0 -4.291,0.441 -6.277,1.096c-4.303,-10.151 -14.357,-17.273 -26.077,-17.273c-14.43,0 -26.316,10.806 -28.063,24.763c-7.093,1.715 -12.379,8.06 -12.379,15.679c0,8.934 7.243,16.177 16.177,16.177"
                  style="fill:none;stroke:#000000;stroke-width:4px;" />
              </g>
            </g>
          </svg>
        </section>
        <section class="sound-box__volume">
          <input class="sound-box__volume-slider" type="range" min="0" max="1" value=".5" step=".1" data-sound="ocean" data-volume=".5">
        </section>
      </section>

      <section class="sound-grid__sound-box sound-box" data-sound="cafe">
        <header class="sound-box__header">
          <h3>
            Gentrification Construction
          </h3>
        </header>
        <section class="sound-box__icon">
          <svg class="sound-box__icon-svg" width="100%" height="100%" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;">
            <g class="rain-group">
              <g class="rain">
                <path d="M25.729,86.454l12.133,-20.221" style="fill:none;stroke:#000000;stroke-width:4px;" />
                <path d="M36.862,91.454l12.133,-20.221" style="fill:none;stroke:#000000;stroke-width:4px;" />
                <path d="M53.995,86.454l12.132,-20.221" style="fill:none;stroke:#000000;stroke-width:4px;" />
                <path
                  d="M76.216,70.277c11.166,0 20.221,-9.055 20.221,-20.221c0,-11.166 -9.055,-20.221 -20.221,-20.221c-2.208,0 -4.291,0.441 -6.277,1.096c-4.303,-10.151 -14.357,-17.273 -26.077,-17.273c-14.43,0 -26.316,10.806 -28.063,24.763c-7.093,1.715 -12.379,8.06 -12.379,15.679c0,8.934 7.243,16.177 16.177,16.177"
                  style="fill:none;stroke:#000000;stroke-width:4px;" />
              </g>
            </g>
          </svg>
        </section>
        <section class="sound-box__volume">
          <input class="sound-box__volume-slider" type="range" min="0" max="1" value=".5" step=".1" data-sound="cafe" data-volume=".5">
        </section>
      </section>
    </article>
  </main>
  <footer class="page__footer">
  </footer>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.0/howler.min.js"></script>
<script src="js/scripts.js"></script>

</html>