@import '../config/functions';
@import '../config/mixins';
@import '../config/variables';


.page {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  // background-color: black;


  &__header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__main {
    grid-area: main;
    display: flex;
    justify-content: center;

  }
  &__footer {
    grid-area: footer;
  }
}
